<mat-toolbar color="" class="toolbar">
  <button mat-icon-button (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="app-name">Ecommerce - San Miguel Industries</span>
  <span class="spacer"></span>

  <button mat-button [matMenuTriggerFor]="userMenu">
    <mat-icon>account_circle</mat-icon>
    Anderson
  </button>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>person</mat-icon>
      Mi Perfil
    </button>
    <button mat-menu-item>
      <mat-icon>shopping_cart</mat-icon>
      Mis Compras
    </button>
    <button mat-menu-item>
      <mat-icon>favorite</mat-icon>
      Mi Lista de Deseos
    </button>
    <button mat-menu-item>
      <mat-icon>local_shipping</mat-icon>
      Mis Pedidos
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      Cerrar Sesión
    </button>
  </mat-menu>
</mat-toolbar>
